/*=====================
 Category css start
==========================*/

.category-main{
    .categories-container{
        i{
            font-size: 18px;
        }
    }
    // .category-title{
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     gap: 8px;
    //     margin-bottom: 20px;
    // }
    // h4{
    //     font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
    //     font-weight: 500;
    //     letter-spacing: .03em;
    //     margin-bottom: 20px;
    // }
}
.list-category {

    .dd-list{
        .dd-item{
            cursor: pointer;
            .dd3-handle{
                position: absolute;
                margin: 0;
                left: 0;
                top: 0;
                height: unset;
                cursor: pointer;
                width: 30px;
                text-indent: 30px;
                white-space: nowrap;
                overflow: hidden;
                background-color: rgba($dark-color, 0.1);
                border: 1px solid rgba($dark-color, 0.01);
                border-right-color: rgba($dark-color, 0.1);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding: 6px 10px;
                &:before{
                    content: "\ec5f";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 6px;
                    width: 100%;
                    text-align: center;
                    text-indent: 0;
                    color: rgba($dark-color, 0.45);
                    font-size: 18px;
                    font-weight: normal;
                    font-family: 'remixicon';
                }
            }
            .dd3-content{
                display: block;
                height: unset;
                margin: 8px 0;
                padding: 6px 10px 6px 40px;
                color: $dark-color;
                text-decoration: none;
                font-weight: 400;
                background-color: $white;
                border: 1px solid rgba($dark-color, 0.45);
                border-radius: $border-radius;
                font-size: 14px;
                padding-right: 60px;
                a{
                    color: $dark-color;
                    font-weight: 400;
                }
                form{
                    margin: 0;
                }
                &:hover{
                    // form{
                        button, a{
                            &.delete, &.edit{
                               opacity: 1;
                               visibility: visible;
                               transition: all 0.2s ease;
                            }
                        }
                    // }
                }
            }
    
            >button{
                margin-left: 30px;
                width: 24px;
                height: 24px;
            }
            &.active{
                .dd3-content{
                    a{
                        font-weight: 600;
                    }
                }
            }
            
        }
    
        .not-found{
            margin-top: 50px;
            text-align: center;
            font-weight: 500;
            font-size: 22px;
        }
    
        .edit{
            position: absolute;
            right: 33px;
            top: 8px;
            line-height: 1;
            font-size: 18px;
            cursor: pointer;
            font-weight: 400 !important;
            color: $notice-success !important;
            a{
                color: $notice-success !important;
            }
        }
    
        .delete{
            position: absolute;
            right: 10px;
            top: 8px;
            line-height: 1;
            font-size: 18px;
            cursor: pointer;
            color: #ff6e70 !important;
        }
    
        button, a{
            &:focus, &:hover, &:active{
                border: none !important;
                box-shadow: none;
                outline: none;
                background-color: transparent !important;
            }
            &.delete, &.edit{
                border: none;
                background-color: transparent;
                padding: 0;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s ease;
            }
        }
    }
}

.dd-empty{
    display: none !important;
}

.dd-dragel{
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-placeholder{
    background-color: $white;
    border: 1px dashed rgba($dark-color, 0.45);
    border-radius: $border-radius;
}

/*=====================
 Category css start
==========================*/
